img {
	width: 400px;
 	height: auto;
}

section {
	margin-top: 20px;
}

.container {
	display: block;
	float: left;
}

aside {
	border: thin solid;
	display: block;
	margin: 20px 10px 0 0;
	padding: 8px;
	float: left;
}

input {
	width: 80px;
}

dl {
	width: 50%;
}